<template>
  <div id="app">
    <div class="header">
        <span>
            <a href="#">北京</a>
            <img src="img/h1.png" alt="">
        </span>
        <input type="text" class="icon iconfont" value="&#xe62f;  输入商家、品类、商圈">
        <span>
            <img src="img/h2.png" alt="">
            <img src="img/h3.png" alt="">
        </span>
    </div>
    <div class="con">
    	<mt-swipe :auto="4000" id="swipe">
			  <mt-swipe-item><img src="../static/1.jpg" alt="" /></mt-swipe-item>
			  <mt-swipe-item><img src="../static/2.jpg" alt="" /></mt-swipe-item>
			  <mt-swipe-item><img src="../static/3.jpg" alt="" /></mt-swipe-item>
			</mt-swipe>
    	<router-view/>
    </div>
    <ul class="footer">
	    <li class="one">
	        <i class="icon iconfont">&#xe653;</i>
	        <span>首页</span>
	    </li>
	    <li>
	        <img src="img/b2.png" alt="">
	        <span>商家</span>
	    </li>
	    <li>
	        <i class="icon iconfont">&#xe62e;</i>
	        <span>我的</span>
	    </li>
	    <li>
	        <i class="icon iconfont">&#xe637;</i>
	        <span>更多</span>
	    </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style scoped>
#app{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.header{
    height:4.5rem;
    background-color:#06c1ae;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.9rem;
    color: #fff;
    border-bottom: 0.1rem solid #00b49e;
}
.header span a{
    font-size: 1.3rem;
    color: #fffdff;
}
.header input{
    width: 60%;
    height: 2.5rem;
    border: 0.1rem solid #00b59b;
    outline: none;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    font-size: 1.1rem;
    color: #9b9b9b;
    padding-left: 0.6rem;
}

.con{
    flex:1;
    overflow-y:auto;
    /*overflow-x:hidden;*/
    background-color: #efefee;
}
.footer{
    border-top: 0.1rem solid #d2d2d2;
    width:100%;
    height:5rem;
    background-color:#fff;
    display: flex;
}
.footer li{
     flex:1;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
 }
.footer li span{
    font-size:1rem;
    color:#848484;
}
.footer li img{
    padding-bottom: 0.4rem;
}
.footer li i{
    font-size:2.3rem;
    color:#848484;
}
.footer li.one i,.footer li.one span{
    color: #37baaf;
}


#swipe{
	width: 100%;
	height: 20rem;
}
img{
	width: 100%;
	height: 20rem;
}

</style>
